.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 7.188rem;
  margin-right: 7.188rem;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0px;
  }
}
